* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
#s1{
   font-size: 7rem;
margin-right: 100px;

}
#s2{

    font-size: 7rem;
 margin-right: 300px;
}
section{
    height: 730px;
   display: flex;
   justify-content: center;
   align-items: center;

}
.heart{
    position: relative;
    
    width: 100px;
    height: 90px;
}
.heart:before,
.heart:after{ 
    content: "";
    position: absolute;
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #CC3E3E;
    border-radius: 50px 50px 0;
    transform-origin: 0 100%;
    transform: rotate(-45deg);
}
.heart:after{
    left: 0;
    transform: rotate(45deg);
    transform-origin :100% 100%;
}
@keyframes heartbeat {
    0% {
      transform: scale(2);
    }
    15% {
      transform: scale(2.4);
    }
    30% {
      transform: scale(2.6);
    }
    45% {
      transform: scale(3);
    }
    70% {
      transform: scale(3.5);
    }
  }
  .heart {
    animation: heartbeat 3s infinite;
  }